.InputComponent{
    width: 300px;
    max-width: 300px;
    display: flex;
    margin: auto;
    padding: 10px;
    height: 40px;
}

.Label {
    font-size: 16px;
    padding: 3px 10px;
    font-weight: bold;
    width: 100px;
    max-width: 100px;
    height: 18px;
    margin: auto;
    color: #444444;
}

.InputField {
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid black;
    width: 180px;
    max-width: 180px;
    color: #222222;
    height: 30px;
}
