.Member {
    margin: 0 auto;
    width: 150px;
    display: flex;
    cursor: pointer;
}

.Member:hover, .Member .Name:hover {
    background-color: white;
}

.Member .Name {
    font-size: 14px;
    font-weight: normal;
    color: #444444;
    width: 140px;
}

.Member .Icon {
    cursor: pointer;
    text-align: right;
    padding-top: 5px;
}

.Member .Icon:active {
    font-size: 18px;
}